.creations {
  padding: 40px 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 48px;
  justify-items: center;
  min-height: 100vh;
}

.creations-title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

.creations-items {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.creations-button {
  display: inline-block;
  background: transparent;
  border: 2px solid @black;
  padding: 12px 40px;
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  cursor: pointer;
}

.creations-button:active {
  background-color: @black;
  color: @white;
}
