.creations {
  padding: 40px 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 48px;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
    grid-template-areas: 
    "title"
    "items"
    "butn";
}

.creations-title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  grid-area: title;
}

.creations-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 24px;
  grid-area: items;
}

.creations-button {
  display: inline-block;
  background: transparent;
  border: 2px solid @black;
  padding: 12px 40px;
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  cursor: pointer;
  grid-area: butn;
}

.creations-button:active {
  background-color: @black;
  color: @white;
}


@media screen and (min-width: @mobile-width) {
  .creations-items {
    grid-template-columns: repeat(4, 1fr);
  } 

  .creations {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    "title    butn"
    "items     items";

    padding: 0 @desktop-space @desktop-space @desktop-space;
    gap: 78px
  }

  .creations-title {
    margin-inline-end: auto;
    font-size: 3.2rem;
    font-weight: 300;
  }
}