.interactive {
  padding: 96px 24px; /* Large vertical gap from the Hero section */
  background-color: white;
}

.interactive-img-wrapper {
  margin-bottom: @mobile-space*2; /* Space between image and text */
}

.interactive-text {
  text-align: center;
}

.interactive-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem; /* ~32px-40px */
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 16px;
  color: @black;
}

.interactive-introduction {
  font-family: 'Alata', sans-serif;
  color: @very-dark-gray; 
  line-height: 1.6;
  padding: 0 24px;
}

.interactive-container {
  display: flex;
  flex-flow: column;
}


@media screen and (min-width: @mobile-width) {
  .interactive {
    padding: 160px @desktop-space;
  }

  .interactive-container {
    flex-flow: row;
    position: relative;
  }
  .interactive-text {
    position: absolute;
    background: @white;
    text-align: left;
    right: -5px;
    max-width: 450px;
    padding: 96px 0 0 96px;
    bottom: 48px;
    
  }

  .interactive-title {
    font-size: 3.2rem;
    margin-bottom: 32px;
  }

  .interactive-introduction {
    padding: 0;
  }
}