/*fonts*/
@font-face {
  font-family: "Alata";
  src: url("./assets/fonts/Alata/Alata-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 300;
}
  /*colors*/
@white: hsl(0, 0%, 100%);
@black: hsl(0, 0%, 0%);
@dark-gray: hsl(0, 0%, 55%);
@very-dark-gray: hsl(0, 0%, 41%);

//sizes
@mobile-width: 768px;
@desktop-width: 1280px;
@m-1: 10px;
@p-1: 10px;
@w-1: 10px;
@h-1: 10px;
@pe1: 1%;
@px1: 1px;
@desktop-padding: {
  padding: 5% 10%;
}

@mobile-space: 24px;

:root {
font-size: 15px;

}

h1,h2,h3,h4,h5,h6, p,body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}


button {
  background: initial;
  border: initial;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}